<div class="callout-contact">
<span class="bg-red-200 text-gray-800 p-2 mb-4">Contact 📞</span>
<h2 class="text-4xl serif mt-4">Contact Us</h2>
<ul>
<li><b>Chess Profile:</b> <a class="underline hover:bg-yellow-100" href="https://www.chess.com/club/albany-area-chess-club">Albany Area Chess Club</a>
</li>
<li><b>Email:</b> <a class="underline hover:bg-yellow-100" href="mailto:rbrittbus@gmail.com">rbrittbus@gmail.com</a></li>
<li><b>Website Maintenance:</b> <a class="underline hover:bg-yellow-100" href="https://github.com/CapReg/capitalregiongames/issues">Github Issues</a></li></ul>
</div>