<div class="callout-events">
<span class="bg-red-200 text-gray-800 p-2 mb-4">Events 📅</span>
<h2 class="text-4xl serif mt-4">AACC Championship</h2>
<time><b>Time</b> October 18</time>
<b>Information</b> <a class="underline hover:bg-yellow-100" href="here">Blog Post</a>
<b>Place:</b><address><a class="underline hover:bg-yellow-100" href="https://www.google.com/maps/place/6+British+American+Blvd,+Latham,+NY+12110/@42.7596876,-73.820745,3a,75y,180.67h,90t/data=!3m6!1e1!3m4!1sA60LXqhSZH28a0jMFE1mjA!2e0!7i16384!8i8192!4m7!3m6!1s0x89de0d22da2ee81f:0xd6b4f2613a4d7cf8!8m2!3d42.7586575!4d-73.8207698!10e5!16s%2Fg%2F11bw3y19k7">6 British American Blvd Ste. 103-D, Latham, NY 12110</a></address>
</div>