<div class="callout-events">
<span class="bg-red-200 text-gray-800 p-2 mb-4">Events 📅</span>
<h2 class="text-4xl serif mt-4">Finn Chess Tournament</h2>
<time><b>Time</b> Saturdays at 7 p.m.</time>
<b>Visit</b> <a href=""></a>
<address>British American Blvd, Albany, NY 122203</address>
</div>