---
eventTitle: "AACC Championship"
eventTime: "Wednesdays after 7:15PM"
eventDesc: "2025 AACC Championship"
---

<div class="callout-events">
<span class="bg-red-200 text-gray-800 p-2 mb-4">Events 📅</span>
<h2 class="text-4xl serif mt-4">{{ eventTitle }}</h2>
<time><b>Time</b>{{ eventTime }}</time>
{{ eventDesc}}
</div>