        {% if postListHeadline %}
    <h2 class="post-rec">
      {{ postListHeadline }}
    </h2>
    {% endif %}
        {% for item in postListItems %}
        {% set currentPost = post.data.post %}
     <article class="mb-8">
        <div class="flex flex-start justify-between w-full prose lg:prose-xl mx-auto">
	       <h3 class="italic text-green-200 w-7/12 block">{{ item.data.title }}</h3>
            <span class=""><time class="bg-blue-200 p-2 serif text-sm" datetime="{{ item.data.date }}"> 🕒 {{ item.data.date | dateFilter }}</time></span>
         </div>
         <div class="w-full prose lg:prose-xl mx-auto">
           <p  class="text-gray-800 font-sans text-lg mb-5">{{ item.data.description }}</p>
            <a class="p-2 mb-4"href="{{ item.url }}">Read 👉</a>
       </div>
       </article>
        {% endfor %}

