    <aside> 
<img style="width: 50%" src="images/barrel.png" alt="this is a barrel. It is here so I can make a bad barrel pun">
<p>Games are a barrel of fun (this is a *good* pun). This site is the offshoot sequal to the smash hit <a href="http://518games.com/">518Games</a>. Like its predecessor; its aim is to provide information for places to play games in the {% footnoteref "Capital Region"," Information should be social media agnostic (not hidden behind Facebook, Reddit and the like); this is partially why the creator of this site believes sites such as this are important" %}Capital Region{% endfootnoteref %}. Unlike its predecessor-the site creator enjoys making websites thus instead of being one of the {% footnoteref "ugliest","The original 518Games site, while not being the most flattering certainly is no where near the ugliness that is the original [Space Jam](https://www.spacejam.com/1996/) site." %}ugliest{% endfootnoteref %}. sites on the web, the creator hopes it is nice looking (but not *too* nice).</p>
<h3>Contact Us</h3>
<p>The site happily welcomes contributions! If you have a game place you would like added and/or any kind of suggestion, you can reach the site creator in several ways:</p>
<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfGqlq9JbQHC3z3zsmtLlGQ9myb5bTTRWYBV9-OdOJ8JoXsPQ/viewform?usp=sf_link">Fill Out this Google Form</a></li>
<li><a href="https://github.com/CapReg/capitalregiongames/issues">Github Issues</a></li>
<li>Mail to: rbusler[at]gmail[dot].com</li>
    </aside>