---
meetingTime: "Wednesdays after 7:15PM"
address: "6 British American Blvd Ste. 103-D, Latham, NY 12110"
---

<div class="callout-time">
<span class="bg-red-200 text-gray-800 p-2 mb-4">Chess Club 😊</span>
<h2 class="text-4xl serif mt-4">Meeting Time &#38; Place</h2>
<time><b>Time</b>{{ meetingtime }}</time>
<b>Place:</b><address>{{ address }}</address>